---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Página não encontrada">
  <div class="text-center py-20">
    <h1 class="font-cherry text-4xl text-pink-600">Página não encontrada :(</h1>
    <a href="/blog" class="font-pixel text-pink-500 mt-4 inline-block">
      Voltar para o blog
    </a>
  </div>
</Layout>
