---
import Layout from '../layouts/Layout.astro';
import PageTitle from '../components/PageTitle.astro';
---

<Layout title="Sobre mim- Meu blog cute">
  <div class="max-w-3xl mx-auto">
    <PageTitle title="Sobre mim♡" />
    
    <div class="bg-white/80 backdrop-blur-sm p-8 rounded-2xl border-4 border-kawaii-lavender">
      <div class="text-center mb-8">
        <div class="w-48 h-48 mx-auto relative">
          <img
            src="/images/gif07.gif"
            alt="Profile Picture"
            class="w-full h-full object-cover rounded-full border-4 border-kawaii-lavender"
          />
          <!-- <img
            src="/images/gif06.gif"
            alt="Sparkles"
            class="absolute -top-4 -right-4 w-12 h-12"
          />
          <img
            src="/images/gif06.gif"
            alt="Sparkles"
            class="absolute -bottom-4 -left-4 w-12 h-12"
          /> -->
        </div>
        <h2 class="font-cherry text-2xl text-pink-600 mb-2">✨Olá! Eu sou homem, tenho 22 anos e estou criando este site como hobby. Atualmente estou estudando chinês (mentira, só vou nas aulas) e tentando me tornar engenheiro da computação. ✨</h2>
      </div>

      <div class="font-pixel space-y-4 text-lg">
        <p>
          Esse espaço vai ser minha rede social. ♡
        </p>
        <p>
          ✧ Minhas coisas favoritas
        </p>
        <ul class="list-disc list-inside pl-4 space-y-2">
          <li>Estou pensando sobre isso</li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <p>
          Eu crie esse espaço para esvaziar minha mente de muita coisa escura. ♡
        </p>
      </div>
    </div>
  </div>
</Layout>
