---
import Layout from '../layouts/Layout.astro';
import PageTitle from '../components/PageTitle.astro';
import BlogCard from '../components/BlogCard.astro';

const allPosts = await Astro.glob('../posts/*.md');

const posts = allPosts.map(post => ({
  title: post.frontmatter.title,
  date: post.frontmatter.date,
  preview: post.frontmatter.preview,
  image: post.frontmatter.image,
  slug: post.frontmatter.slug,
  content: post.compiledContent() // Conteúdo HTML do Markdown
}));
---

<Layout title="Blog">
  <div class="max-w-4xl mx-auto">
    <PageTitle title="Minhas postagens ♡" />

    <div class="space-y-6">
      {posts.map(post => (
        <BlogCard {...post} />
      ))}
    </div>
  </div>
</Layout>
